spImagesDirectory = ./test1images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 70

spPCAFilename = pca8.yml
spPCADimension = 25
spNumOfFeatures = 20
spExtractionMode = true

spNumOfSimilarImages = 10
spKDTreeSplitMethod = INCREMENTAL
spKNN = 10

spMinimalGUI = false
spLoggerFilename = test10.log
spLoggerLevel = 2