spImagesDirectory = ./test1images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 100

spPCAFilename = pca3.yml
spPCADimension = 10
spNumOfFeatures = 100
spExtractionMode = true

spNumOfSimilarImages = 7
spKDTreeSplitMethod = RANDOM
spKNN = 2

spMinimalGUI = false
spLoggerFilename = test4.log
spLoggerLevel = 2