spImagesDirectory = ./test1images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 100

spPCAFilename = pca9.yml
spPCADimension = 28
spNumOfFeatures = 70
spExtractionMode = true

spNumOfSimilarImages = 5
spKDTreeSplitMethod = INCREMENTAL
spKNN = 30

spMinimalGUI = false
spLoggerFilename = test12.log
spLoggerLevel = 2