# should warn that num of similar > num of images and present only top 10 images

spImagesDirectory = ./test1images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 10

spPCAFilename = pca.yml
spPCADimension = 28
spNumOfFeatures = 50
spExtractionMode = true

spNumOfSimilarImages = 50
spKDTreeSplitMethod = RANDOM
spKNN = 10

spMinimalGUI = false
spLoggerFilename = test1.log
spLoggerLevel = 2