# should fail to initialize logger and exit with a nice message and no memory leaks!!

spImagesDirectory = ./test1images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 100

spPCAFilename = pca.yml
spPCADimension = 28
spNumOfFeatures = 100
spExtractionMode = true

spNumOfSimilarImages = 5
spKDTreeSplitMethod = RANDOM
spKNN = 10

spMinimalGUI = false
spLoggerFilename = ./no_such_folder/test1.log
spLoggerLevel = 4