# should fail and say that images files could not be loaded (important to verify valgrind)

spImagesDirectory = ./test1images/
spImagesPrefix = imges
spImagesSuffix = .jpg
spNumOfImages = 100

spPCAFilename = pca.yml
spPCADimension = 28
spNumOfFeatures = 100
spExtractionMode = true

spNumOfSimilarImages = 5
spKDTreeSplitMethod = RANDOM
spKNN = 10

spMinimalGUI = false
spLoggerFilename = test1.log
spLoggerLevel = 4