spImagesDirectory = ./test1images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 100

spPCAFilename = pca6.yml
spPCADimension = 20
spNumOfFeatures = 200
spExtractionMode = true

spNumOfSimilarImages = 3
spKDTreeSplitMethod = INCREMENTAL
spKNN = 10

spMinimalGUI = false
spLoggerFilename = test7.log
spLoggerLevel = 2