spImagesDirectory = ./test1images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 100

spPCAFilename = pca5.yml
spPCADimension = 10
spNumOfFeatures = 100
spExtractionMode = true

spNumOfSimilarImages = 7
spKDTreeSplitMethod = INCREMENTAL
spKNN = 10

spMinimalGUI = false
spLoggerFilename = test6.log
spLoggerLevel = 2