spImagesDirectory = ./test1images/
spImagesPrefix = img
spImagesSuffix = .jpg
spNumOfImages = 70

spPCAFilename = pca8.yml
spPCADimension = 25
spNumOfFeatures = 20
spExtractionMode = false

spNumOfSimilarImages = 6
spKDTreeSplitMethod = MAX_SPREAD
spKNN = 15

spMinimalGUI = false
spLoggerFilename = test11.log
spLoggerLevel = 2